$bk: #00ABC4;
$t: transparent;
$pencilOrange: #EB9D00;
$lightYellow: #f7d57b;
$darkYellow: #b76309;
$metal:#F8F9F2;
$eraser:#d85d5f;
$tip: #F3D9BD;
$lead:#6a6c6b;

@mixin for-phone-only {
    @media (max-width: 599px) {
      @content;
    }
  }
  
  
  body{
    font-size: 1vmin;
    background-color:$bk;
    div{
      @include for-phone-only{
        font-size: 1.25vmin;
      }
      font-size: 1.45vmin;
      width: 93.5em;
      height: 3.7em;
      position: absolute;
      top:50%;
      left:49%;
      transform:translate(-50%,-50%);
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      background: 
      linear-gradient(
        to right,
         rgba($darkYellow,.2),
        rgba($t,.2),
      )
      90% 100% / .5% 100%,       
  // top reflection 
      radial-gradient(
          100% 100% at 50% 50%,
        rgba(#fff,.3),
          rgba(#fff,.2),
        rgba(#fff,0) 51%,
        $t 65%
        )
        .6% 49% / .75em .4em,
        // hide part of tip
      // btm 
    linear-gradient(
      15deg,
       rgba($bk,1)50%,
      rgba($t,0)51%,
    )
    0% 1em / 7% 100%,        
        //top 
    linear-gradient(
      -15deg,
       rgba($t,0)50%,
      rgba($bk,1)51%,
    )
    0% -1em / 7% 100%,  
// where the tip meets the pencil 
    radial-gradient(
        100% 100% at 50% 50%,
        rgba($pencilOrange,1) 50%,
      rgba(blue,0) 51%
      )
      6.8% 45% / 1.7em 1.7em, 