$bk: #00ABC4;
$t: transparent;
$pencilOrange: #EB9D00;
$lightYellow: #f7d57b;
$darkYellow: #b76309;
$metal:#F8F9F2;
$eraser:#d85d5f;
$tip: #F3D9BD;
$lead:#6a6c6b;

@mixin for-phone-only {
    @media (max-width: 599px) {
      @content;
    }
  }
  
  
  body{
    font-size: 1vmin;
    background-color:$bk;
    div{
      @include for-phone-only{
        font-size: 1.25vmin;
      }
      font-size: 1.45vmin;
      width: 93.5em;
      height: 3.7em;
      position: absolute;
      top:50%;
      left:49%;
      transform:translate(-50%,-50%);
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      background: 
      linear-gradient(
        to right,
         rgba($darkYellow,.2),
        rgba($t,.2),
      )
      90% 100% / .5% 100%,       
  // top reflection 
      radial-gradient(
          100% 100% at 50% 50%,
        rgba(#fff,.3),
          rgba(#fff,.2),
        rgba(#fff,0) 51%,
        $t 65%
        )
        .6% 49% / .75em .4em,
        // hide part of tip
      // btm 
    linear-gradient(
      15deg,
       rgba($bk,1)50%,
      rgba($t,0)51%,
    )
    0% 1em / 7% 100%,        
        //top 
    linear-gradient(
      -15deg,
       rgba($t,0)50%,
      rgba($bk,1)51%,
    )
    0% -1em / 7% 100%,  
// where the tip meets the pencil 
    radial-gradient(
        100% 100% at 50% 50%,
        rgba($pencilOrange,1) 50%,
      rgba(blue,0) 51%
      )
      6.8% 45% / 1.7em 1.7em, 
      //     tip shadow
        //top
    linear-gradient(
      -15deg,
       rgba($t,.0)30%,
      rgba(#000,.1)55%,
      $t 65%
    )
    0% -1em / 7% 100%,       
        //btm
    linear-gradient(
      15deg,
       rgba(#000,.3)30%,
      rgba($t,.0)55%,
      $t 65%
    )
    0% .3em / 7% 100%,  
//       lead
    linear-gradient(
      to top,
       rgba($lead,1),
      rgba($lead,1)55%,
    )
    0% 20% / 2% 100%,       
//     tip main
    linear-gradient(
      to top,
       rgba($tip,1),
      rgba($tip,1)55%,
    )
    0% 50% / 7% 100%, 
    // white line middle metal
    linear-gradient(
      to top,
      $t,
       rgba(#fff,.5),
      rgba(red,0)55%,
    )
   97.5% 30% / 7.5% 40%,         
   // dark line middle metal
    linear-gradient(
      to top,
      $t,
       rgba(#49494b,.6),
      rgba(red,0)55%,
    )
   97.5% 50% / 7.5% 40%,   
    linear-gradient(
      to top,
       rgba(#49494b,.4)6%,
      rgba(#49494b,.2), 
     rgba($metal,0)45%, 
    )
   97.5% 100% / 7.5% 100%,       
    linear-gradient(
      to bottom,
      rgba(#49494b,.9)6%,
       rgba(#49494b,.7)6%,
      rgba(#49494b,.3),
     rgba($metal,0)35%,
      rgba($t,.2),
      rgba($t,.5),
    )
   97.5% 100% / 7.5% 100%, 
// circle ridges
      //top left 
    radial-gradient(
        100% 100% at 50% 50%,
      rgba(#000,.4),
        rgba(#000,.3),
      rgba(#000,0) 51%,
      $t 65%
      )
      92.5% 25% / 1em 1em,         
      //top right 
    radial-gradient(
        100% 100% at 50% 50%,
      rgba(#000,.5),
        rgba(#000,.3),
      rgba(#000,0) 51%,
      $t 65%
      )
      96% 25% / 1em 1em,  
      //btm left 
    radial-gradient(
        100% 100% at 50% 50%,
      rgba(#000,.2),
        rgba(#000,.1),
      rgba(#000,0) 51%,
      $t 65%
      )
      92.5% 90% / 1em 1em,         
      //btm right 
    radial-gradient(
        100% 100% at 50% 50%,
      rgba(#000,.2),
        rgba(#000,.1),
      rgba(#000,0) 51%,
      $t 65%
      )
      96% 90% / 1em 1em, 
      //       ridges
    radial-gradient(
        100% 200% at 0% 50%,
        rgba($metal,.0) 50%,
      rgba(#000,.2) 51%,
      rgba(#000,.3) 60%,
      $t 65%
      )
      93% 50% / 2em 100%,         
    radial-gradient(
        100% 200% at 0% 50%,
        rgba($metal,.0) 50%,
      rgba(#000,.2) 51%,
      rgba(#000,.3) 60%,
      $t 65%
      )
      93.5% 50% / 2em 100%,        
    radial-gradient(
        100% 200% at 0% 50%,
        rgba($metal,.0) 50%,
      rgba(#000,.2) 51%,
      rgba(#000,.3) 60%,
      #fff 65%,
      $t
      )
      94% 50% / 2em 100%,       
    radial-gradient(
        100% 200% at 0% 50%,
        rgba($metal,.0) 50%,
      rgba(#000,.2) 51%,
      rgba(#000,.4) 60%,
      $t 65%
      )
      96.5% 50% / 2em 100%,         
    radial-gradient(
        100% 200% at 0% 50%,
        rgba($metal,.0) 50%,
      rgba(#000,.2) 51%,
      rgba(#000,.3) 60%,
      $t 65%
      )
      97% 50% / 2em 100%,        
    radial-gradient(
        100% 200% at 0% 50%,
        rgba($metal,.0) 50%,
      rgba(#000,.2) 51%,
      rgba(#000,.3) 60%,
      #fff 65%,
      $t
      )
      97.5% 50% / 2em 100%,        
      
    linear-gradient(
      to bottom,
       rgba($metal,1),
     rgba($metal,1)65%, 
    )
   97.5% 100% / 7.5% 100%, 
   //       eraser
    linear-gradient(
      to top,
      rgba(#000,.3) 30%,
       rgba($eraser,0),
    )
   100% 50% / 2.5% 95%,       
    linear-gradient(
      to top,
      $eraser,
       rgba($eraser,1),
    )
   100% 50% / 2.5% 95%,          
    linear-gradient(
      to bottom,
       rgba($darkYellow,.8),
     rgba($t,.3)65%, 
      $t
    )
   42% 155% / 83.5% 55%,  
    
    linear-gradient(
      to bottom,
       rgba($lightYellow,.7),
     rgba($t,0)65%, 
    )
   42% 25% / 83.5% 13%,   
    linear-gradient(
      to bottom,
       rgba($darkYellow,.4),
     rgba($darkYellow,0)65%, 
    )
   42% 0% / 83.5% 55%,        
    linear-gradient(
      to bottom,
       rgba(#EB9D00,1) 49%,
     rgba(#EB9D00,1) 51%, 
    )
   42% 50% / 83.5% 100%,
    
      
      ;
   background-repeat: no-repeat;
  &:after{
    content: "No 2 HB";
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    color: #303030;
    top: 49%;
    left:77.5%;
    transform: translate(-50%,-50%);
  }    
  };

  
 
}

.bk{
  background-image: none;
}

.opacity{
  opacity: 0.5;
} 
      